@import "tailwindcss";

html{
  scroll-behavior:smooth;
}

body{
  background:#0B0615;
  color:white;
  overflow-x:hidden;
}

*{
  box-sizing:border-box;
}

::selection{
  background:#8B5CF6;
  color:white;
}@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

body {
  background: #090511;
  color: white;
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background: #7c3aed;
  border-radius: 20px;
}